@import "../../App.scss";

@keyframes slidein {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(40px, 0px);
  }
  50% {
    transform: translate(0, 0px);
  }
  75% {
    transform: translate(-40px, 0px);
  }
}

@keyframes spinner {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(-180deg) rotateZ(-2deg);
  }
}

.home {
  background-image: url("https://res.cloudinary.com/dwbqzx4rr/image/upload/v1628730723/Design%20hub/coffee_qxadlj.jpg");
  width: 100%;
  height: calc(100vh - 3rem);
  background-size: cover;
  background-position: center;
  @include display(row, center, flex-start);
  padding-top: 7rem;

  .overlay-background {
    background-color: rgba(233, 240, 245, 0.6);
    @include center-all;
    padding: 0.5rem 1rem;
    max-width: 80%;
    text-align: center;
    border-radius: 0.75rem;
    animation: 2.5s slidein linear 2;
  }

  p {
    margin: 0;
    margin-bottom: 0;
    font-size: 1rem;
    color: $color-dark;
    font-weight: 600;
  }
}

@media (min-width: 768px) {
  .overlay-background {
    padding: 0.75rem 1.5rem;
  }
  .home {
    p {
      font-size: 1.375rem;
      max-width: auto;
    }
  }
}

@media (min-width: 1024px) {
  .home {
    p {
      font-size: 1.75rem;
    }
  }
}
