@mixin center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin display($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.scene {
  width: 100vw;
  height: 100vh;
  border: 1px solid #ccc;
  // margin: 80px;
  perspective: -100px;
}
